/* stylelint-disable import-notation */
@import "tailwindcss";

@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

/* @font-face {
	font-family: Hack;
	src: url('/assets/fonts/Hack-NF.ttf');
	display: swap;
} */

/* * {
	font-family: Hack, monospace;
} */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
body > div:first-child,
/* stylelint-disable-next-line selector-id-pattern -- Can't change Next.js's root ID element */
	div#__next,
/* stylelint-disable-next-line selector-id-pattern -- Can't change Next.js's root ID element */
	div#__next
	> main {
	height: 100%;
	overflow: auto;
}

/*
stylelint-disable-next-line selector-id-pattern
-- Can't change Next.js's root ID element
Create a root stacking context
*/
#__next {
	isolation: isolate;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #1e252e;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: #ebdbb2;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #ff8037;
}
